* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
}
.card {
  width: 100%;
  display: flex;
  padding: 0 50px;
  gap: 30px;
}
.imageCard {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.bookDescription {
  width: 500px;
  padding: 20px;
}
h1 {
  margin-bottom: 5px;
}
h3 {
  margin-bottom: 10px;
}
button {
  width: 100%;
  font-size: 20px;
  padding: 5px;
  color: white;
  border: 0.1px solid #cb3f34;

  background-color: #cb3f34;
  cursor: pointer;
}
p {
  line-height: 20px;
}
